<h1>What is The Score Boar?</h1>
  <div class="">
    The Score Boar is an "internet of things" project created by <a href="http://www.nightowlnico.com/" target="_blank">Nico Andruzzi</a>.  The sole intention of it's design is to improve the overall user experience of ping-pong within the Galvanize community.
  </div>
<h1>How was it built?</h1>
  <div class="">
    The Score Boar was built in two parts:
  </div>
  <h4>Part 1: The Web App</h4>
  <div class="">
    The Score Boar was built using an Express back end utelizing a custom API.  It uses Angular on the front end in conjunction with Bootstrap(so the site will work on all mobile devices and tablets).  Also, web sockets were implemented so the back end can communicate with the front end in real time.
  </div>
  <h4>Part 2: The Hardware</h4>
  <div class="">
    The ping-pong table at Galvanize Platte has electro-mechanical components attached to it, so that users can interact with the table.  To attach the components, I used a laser engraver to cut shapes I designed out of acrylic.  With a blowtorch I heated and bent the acrylic into the shapes I desired.  I then was able to mount my electromechanical components to the acrylic, and mount the acrylic to the table with command strips so that it is completely removeable.
  </div>
  <h5><u>The table has:</u></h5>
  <div class="">
    2 pushbuttons on each side of the table (one to increment and one to decrement score) for a total of 4 buttons on the table.
  </div>
  <img src="/images/button1.jpg" alt="" style="width: 50vw;"/>
  <img src="/images/button2.jpg" alt="" style="width: 50vw;"/>
  <div class="">
    A four digit 7-segment LED display on each side of the table (2 digits your score and 2 digits my score) for a total of 8 digits being controlled.
  </div>
  <img src="/images/led1.jpg" alt="" style="width: 50vw;"/>
  <img src="/images/led2.jpg" alt="" style="width: 50vw;"/>
  <div class="">
    A touch-screen at the center of the table that is running The Score Boar website on it.  Behind this touch-screen is a Raspberry Pi which all of the components are connected to and is the 'brains' of the hardware.  This Raspberry Pi is also what allows my hardware to talk to my web app.
  </div>
  <img src="/images/screen.jpg" alt="" style="width: 50vw;"/>
  <img src="/images/pi.jpg" alt="" style="width: 50vw;"/>  
<h1>How does it work?</h1>
  <div class="">
    every time a button is pressed, the Pi sends different specialized http requests to my custom Express API.  In the express backend I keep track of these button presses and am able to calculate the score.  These scores are then displayed in real time (thanks to web sockets) to my Angular front end which users are able to see.
  </div>
<h1>Future Plans</h1>
  <h4>PDF</h4>
  <div class="">
    I am currently creating a pdf of how I created the acrylic mounts, the circuit, and how I programmed the Pi so that other Galvanize students can add this system to the ping-pong table of their campus.
  </div>
  <h4>Feature - I Want Next</h4>
  <div class="">
    I am currently working on adding the capability for users to be able to request to be next up on the table.  This would not only add a level of convienince to the experience of waiting to play but would also allow me to track data for specific users.  This data will be utelized to determine who is the most winningest player in any specific group, and also in the building as a whole.  The next feature will also allow a galvanize member on the fourth floor to sign up for a game without having to come to the basement and stand by the table for the entire time.
  </div>
  <h4>Feature - Peek At The Table</h4>
  <div class="">
    I am also working on adding a second Raspbery Pi with a camera module to take a picture of the table every 5 seconds or so.  This will allow you to judge how crowded the ping-pong table is without having to go to the table to check it out.
  </div>
  <img src="" alt="" />
<h1>Contact Me</h1>
  <h4>I am always looking for constructive criticism and especially for any ideas on how to improve the user experience from any member of the Galvanize community!!</h4>
  <h4>If you have either, or just a question about the table, feel free to contact me (Nico Andruzzi) at NicolasAndruzzi@gmail.com</h4>
