<a href="#/onTheTable">
  <div class="jumbotron">
    <div class="container">
      <img id="splashImg" src="images/golden-48127.png" alt="The Score Boar" />
    </div>
  </div>
</a>

  <div id="splashTxt">See who's on the table now @ Galvanize <span class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Platte
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Golden-Triangle</a></li>
      <li><a href="#">Fort Collins</a></li>
    </ul>
  </div>
