<!-- <a href="#/onTheTable"> -->
  <div class="jumbotron">
    <div class="container">
      <img id="splashImg" src="images/golden-48127.png" alt="The Score Boar" />
    </div>
  </div>
<!-- </a> -->

  <!-- <div id="splashTxt">See who's on the table now @ Galvanize <span class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Platte
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Golden-Triangle</a></li>
      <li><a href="#">Fort Collins</a></li>
    </ul>
  </div> -->

  <div id="splashDescription">
    The Score Boar is an Internet of Things project that allows the students and members of Galvanize (Platte) to check if the
    highly sought after ping-pong table is available before having to go to the basement to physically check.
    <br>
    <hr>
    Click <b><i>"Current Game"</i></b> to see what the current score is on the table at this moment in time.
    (If it's 0-0 the table is available for use!)
    <br>
    <br>
    Click <b><i>"About"</i></b> to learn more about how this project was created.
  </div>
