#navbar-brand-logo{
  height: 45px;
  float: left;
}

.navbar-brand{
  font-size: 30px;
}

main{
  padding-top: 50px;
}

#splashImg{
  height: 60vh;
  width: 60vw;
  margin-left: 20vw;
  margin-top: 2.5vh;
}

#splashTxt{
  font-size: 7vh;
  text-align: center;
}
