#navbar-brand-logo{
  height: 45px;
  float: left;
}

.navbar-brand{
  font-size: 30px;
}

main{
  padding-top: 50px;
}

.container{
  text-align: center;
}

#splashImg{
  height: 50vh;
  /*width: 50vw;*/
}

#splashTxt{
  font-size: 7vh;
  text-align: center;
}

#placeholder{
  height: 100vh;
  width: 100vw;
}

#shift{
  margin-top: 100px;
}
